{% extends "_base.html" %}

{% block title %}About Me{% endblock %}

{% block about_me_selected %}selected{% endblock %}

{% block article %}

<h2>Who I am</h2>

<p>My name is Karen Rustad. I was born in Sunnyvale, CA; grew up in Edina, MN; graduated from Scripps College in Claremont, CA in 2008 with a degree in Media Studies; lived after college in Arlington, VA; moved to Atlanta, GA to work with <a href="http://openhatch.org">OpenHatch</a>, a startup in the Shotput Ventures summer incubator program; moved to Philadelphia, PA to continue working with OpenHatch after the incubator finished; moved home to Edina, MN after the startup couldn't pay me anymore; and then moved to Berkeley, CA for grad school. I currently live in Oakland.</p>

<p>Get all that? Here, have a diagram:</p>

<img src="/static/img/map.png"/>

<p>*phew*</p>

<p>Hopefully I'll stay here in the Bay Area for a while.</p>

<p>In 2012 I graduated with a master's degree from UC Berkeley's School of Information (an odd but fun combination of computer science, UI design, library science, sociology, and management).</p>

<p>My personal hobbies and interests include meteorology, gender politics, intellectual property and technology law and policy, baby naming trends, science fiction, Indian cooking, webcomics, and rock climbing.</p>

<h2>More about me:</h2>
<ul>
<li>Birth year: 1986</li>
<li>Myers-Briggs: INTP</li>
<li>Interests: Meteorology, gender politics, webcomics, intellectual property and technology law and policy, indie rock, applied game mechanics, gardening, politics, baby naming trends, free software communities and culture, rock climbing, travel, entrepreneurship sans dick-measuring and stupid buzzwords</li>
<li>Skills: Drawing, video editing, Python hacking, CSS wrangling, research, writing, singing (alto pride!), public speaking, driving stick-shift, Indian cooking</li>
<li>Favored platform: It's tough. My dad was an Apple employee for more than a decade; I grew up playing with Kid Pix, Reader Rabbit, and Hypercard. Macs are probably still my native language, and for as long as I do things in Photoshop I'll probably continue to have one around. However, I now do almost all of my coding on Linux; first Ubuntu for 1.5 years, now Debian. Can't imagine trying to do development on anything else, now.</li></ul>

<h2>Social media nonsense</h2>
<ul>
<li>IRC: aldeka (on freenode)</li>
<li>Identi.ca: <a href="https://identi.ca/mllerustad/">@mllerustad</a></li>
<li>Twitter: <a href="https://twitter.com/#!/mllerustad">@mllerustad</a></li>
<li>Gmail/GChat/G+: karen.rustad@gmail.com</li>
<li>Flickr: <a href="http://www.flickr.com/photos/mllerustad">aldeka_</a></li>
<li>Github: <a href="https://github.com/aldeka/">aldeka</a>
<li><a href="http://www.linkedin.com/in/krustad">LinkedIn profile</a></li>
</ul>

{% endblock %}