{% extends "_base.html" %}

{% block title %}Home{% endblock %}
{% block home_selected %}selected{% endblock %}

{% block article %}

<img src="/static/img/me.png" class="left"/>Hi. My name's Karen. This is my website. <a href="http://en.wikipedia.org/wiki/Rifleman's_Creed">There are many like it, but this one is mine.</a>

There is a good chance that you are here to learn <a href="/about-me/">about me</a> and look at my <a href="/portfolio/">portfolio</a> or <a href="/cv.pdf">CV</a>.

This site also serves as <a href="/stuffs/">a repository</a> for all sorts of creative endeavors I've had over the years. I <a href="http://littlegreenriver.com/weblog/">blog</a> here sometimes about technology, design, politics, entrepreneurship, and random other things.

{% endblock %}

